<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.guru2_15">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="타임레이어드"
        android:roundIcon="@mipmap/timelayered_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Guru2_15"
        tools:targetApi="31">
        //android:icon="@mipmap/logo1"
        <activity
            android:name=".Info"
            android:exported="false" />
        <activity
            android:name=".ResultActivity"
            android:parentActivityName=".ExecuteActivity" />
        <activity
            android:name=".ExecuteActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FriendListActivity" />
        <activity android:name=".FriendAddActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".PasswordResetActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".HomeActivity" />
<!--        <activity-->
<!--            android:name=".scheDialog"-->
<!--            android:exported="false" />-->
        <activity
            android:name=".MyScheMonth"
            android:exported="false" />
        <activity
            android:name=".MyScheWeek"
            android:exported="false" />
        <activity
            android:name=".MyScheDay"
            android:exported="false" />

    </application>

</manifest>